<mat-card>
    <mat-card-header>
        <mat-card-title>Nguyễn Mạnh Hùng</mat-card-title>
        <mat-card-subtitle>MSSV:2175173</mat-card-subtitle>
    </mat-card-header>
    <img style="
    height: 700px;
    width: 50%;
    margin-top: auto;
    margin-bottom: 15px;
    border-radius: 6px;" matCardImage class="align-center" src="https://scontent.fvca1-2.fna.fbcdn.net/v/t1.0-9/64486706_2343423725906141_534789064042217472_n.jpg?_nc_cat=109&_nc_sid=8bfeb9&_nc_ohc=0q5mJjzAVFQAX_UEdhS&_nc_ht=scontent.fvca1-2.fna&oh=fd32a24b6625e652912176beca5cc91c&oe=5F07277A">
    <mat-card-content>
        Project-Web-Angular
    </mat-card-content>
    
</mat-card>