<mat-card>
    <mat-card-header>
        <mat-card-title>Nguyễn Mạnh Hùng</mat-card-title>
        <mat-card-subtitle>MSSV:2175173</mat-card-subtitle>
    </mat-card-header>
    <img style="
    height: 700px;
    width: 50%;
    margin-top: auto;
    margin-bottom: 15px;
    border-radius: 6px;" matCardImage class="align-center" src="https://scontent.fsgn5-6.fna.fbcdn.net/v/t1.0-9/64486706_2343423725906141_534789064042217472_n.jpg?_nc_cat=109&_nc_sid=8bfeb9&_nc_ohc=IudxSVLgPn0AX9365Et&_nc_ht=scontent.fsgn5-6.fna&oh=b5b3625ff2b555941250ae020c42367f&oe=5EDBA5FA">
    <mat-card-content>
        Project-Web-Angular
    </mat-card-content>
    
</mat-card>