<mat-toolbar color="primary" class="navbar">

  <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  &nbsp;&nbsp;&nbsp;

  <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
  &nbsp;&nbsp;
  <a style="color:white;" routerLink="/home">
    <span>Home</span>
  </a>
  <span class="fill-remaining-space"></span>

  <button mat-icon-button [matMenuTriggerFor]="menuNotification" aria-label="Example icon-button with a menu">
    <mat-icon>notifications</mat-icon>
  </button>
  <mat-menu #menuNotification="matMenu" >
    <button mat-menu-item>
      <mat-icon>face</mat-icon>
      <span>Nguyễn Mạnh Hùng</span>
    </button>
    <button mat-menu-item>
      <mat-icon>dialpad</mat-icon>
      <span>2175173</span>
    </button>
    <button mat-menu-item>
      <mat-icon>code</mat-icon>
      <span>Web Front - end</span>
    </button>
  </mat-menu>
  &nbsp; &nbsp;


  <button mat-button [matMenuTriggerFor]="menu"><img style="width: 40px;height: 40px;" [src]="currentImage"></button>
  <mat-menu #menu="matMenu" yPosition="below">
    <button mat-menu-item>
      <p>Hello, &nbsp; {{displayName}}</p>
    </button>
    <button mat-menu-item [routerLink]="['/login']" routerLinkActive="active" (click)="onLogout()">
      <p>
        <mat-icon>exit_to_app</mat-icon>Logout
      </p>
    </button>
  </mat-menu>
  <!-- hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh -->
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto navbar-right-top">
    </ul>
  </div>


</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <cdk-virtual-scroll-viewport itemSize="20" class="example-viewport">
      <mat-toolbar>Menu</mat-toolbar>
      <div class="jss48">
        <div class="jss433">
          <div class="jss490" (ngSubmit)="onSaveUser(profileForm.value)" [formGroup]="profileForm">
            <div class="label ">
              <img [src]="currentImage" (click)="inputImageProfile.click()" />
              <input hidden type="file" #inputImageProfile formControlName="photoURL"
                (change)="handleImage(($event ?.target ?.files)[0])" />
            </div>
            <div class="jss435 MuiTypography-h4">
              <input style="color: black;" matInput formControlName="displayName">
              <input matInput formControlName="email">
            </div>
          </div>

        </div>

        <mat-divider style="margin: 16px 0px;"></mat-divider>

        <ul class="MuiList-root jss50 MuiList-padding">
          <li class=" jss508">
            <div style="flex-grow: 1;">
              <mat-nav-list class="MuiButton-label">
                <a mat-list-item routerLink="posts">
                  <mat-icon class="jss510">dashboard</mat-icon>Dashboard
                </a>
                <span class="MuiTouchRipple-root"></span>
              </mat-nav-list>
            </div>
          </li>
          <li class=" jss508">
            <div style="flex-grow: 1;">
              <mat-nav-list class="MuiButton-label">
                <a mat-list-item routerLink="profile">
                  <mat-icon class="jss510">person</mat-icon>User Profile
                </a>
                <span class="MuiTouchRipple-root"></span>
              </mat-nav-list>
            </div>
          </li>
          <li class=" jss508">
            <div style="flex-grow: 1;">
              <mat-nav-list class="MuiButton-label">
                <a mat-list-item routerLink="registered">
                  <mat-icon class="jss510">person_add</mat-icon>Add User
                </a>
                <span class="MuiTouchRipple-root"></span>
              </mat-nav-list>
            </div>
          </li>
        </ul>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>