
<mat-toolbar color="primary">
    <img style="width: 80px;height: 60px;" src="../../../../assets/images/nike-logo-white.png">
    &nbsp;
    <span class="fill-remaining-space"></span>
    <a [routerLink]="['/']">{{appName}}</a>
    
    <span class="fill-remaining-space"></span>

    <a [routerLink]="['/admin/posts']" routerLinkActive="active" *ngIf="authSvc.userData$ | async">
       
        <button mat-button>Admin</button>   
    </a>


    <a [routerLink]="['/about']" routerLinkActive="active">
        <button mat-button>About</button>
    </a>
    

    <a *ngIf="authSvc.userData$ | async; else showLogin" (click)="onLogout()">
        <button mat-button>Logout</button>
    </a>

    <ng-template #showLogin>
        <a [routerLink]="['/login']" routerLinkActive="active">
            <button mat-button>Login</button>
        </a>
    </ng-template>

</mat-toolbar>