<div class="background">
    <mat-card  mat-elevation-z12>
        <mat-card-title class="mat-card-title">Registered</mat-card-title>
    
        <mat-card-content>
            <form [formGroup]="RegisterForm" (ngSubmit)="onRegister()">
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input type="text" matInput placeholder="Please enter your account" formControlName="email" />
                        <mat-icon matSuffix>account_circle</mat-icon>
                    </mat-form-field>
                </p>
                <p>
                    <mat-form-field appearance="outline">
                        <mat-label>Password </mat-label>
                        <input type="password" matInput placeholder="Please enter your account"
                            formControlName="password" />
                        <mat-icon matSuffix>lock</mat-icon>
                    </mat-form-field>
                </p>

                <button style="width: 100%" type="submit" mat-raised-button color="primary">REGISTERED  NOW</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
