.container{
    background-color: black;
    margin-top:  25px;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    justify-content: center;
}

.post-card{
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
