<div class="new-post-container">
    <form class="form" [formGroup]="editPostForm" (ngSubmit)="editPost(editPostForm.value)">
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput placeholder="Title post" formControlName="titlePost">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Content</mat-label>
            <input matInput placeholder="Content post" formControlName="contentPost">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-select placeholder="Size" multiple formControlName="size">
                <mat-option value="S">S</mat-option>
                <mat-option value="M">M</mat-option>
                <mat-option value="L">L</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput type="number" placeholder="Ex. 12" formControlName="quantity" min="0">
            <span matSuffix> &nbsp; <a style="font-size: 16px;">Item</a></span>
            <mat-error *ngIf="editPostForm.invalid">Min quantity: 0 Item</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Price</mat-label>
            <input matInput type="number" placeholder="Ex. 12" formControlName="price" min="0">
            <span matSuffix>&nbsp; <a style="font-size: 16px;">₫</a></span>
            <mat-error *ngIf="editPostForm.invalid">Min price: 0 ₫</mat-error>
        </mat-form-field>
        <!-- <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <input matInput placeholder="Status" formControlName="status">
        </mat-form-field> -->
        <div class="container-input-file">
            <label class="custom-file">
                <input type="file" formControlName="imagePost" (change)="handleImage($event)">
                <mat-icon>cloud_upload</mat-icon>
                <span>CHOOSE IMAGE</span>
            </label>
        </div>
        <div class="container-button">
            <input type="submit" class="mat-flat-button" value="Save" [mat-dialog-close]="true">
        </div>
    </form>
</div>